body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 40px;
}

h2 {
    color: #333;
}

input {
    padding: 8px;
}

button {
    padding: 8px;
    margin-left: 5px;
}

li {
    margin: 10px 0;
}
